<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-------------------------------------------------------------------->
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script th:inline="javascript">
			const m = [[${msg}]]
			if(m!=null){
				alert(m);
			}
		</script>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<script defer th:src="@{/js/index.js}"></script>
	</head>
<!-------------------------------------------------------------------->
	<body>
		<th:block th:replace="~{fragments::header}"></th:block>

		<section>
			<div class="content">
				<form th:action="@{/member/login}" method="post" class="login-form">
					<h2 class="login-header"> 로그인 </h2>
					<input type="text" class="login-input" name="m_id" autofocus required placeholder="아이디"><br>
					<input type="password" class="login-input" name="m_pw" required placeholder="비밀번호"><br>
					<button class="login-btn"> 로그인 </button>
				</form>
			</div>
		</section>

		<th:block th:replace="~{fragments::footer}"></th:block>
	</body>
<!-------------------------------------------------------------------->
</html>