<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>

	<body>
		<header th:fragment="header">
			<div class="top-bar">
				<div class="content">
					<img th:src="@{/img/r-logo.jpg}" class="top-left logo" onclick="goHome()">
					<h2 class="top-left top-home">Web Board</h2>
					<nav class="top-right">
						<ul>
							<li class="suc" id="m_id">테스트임</li>
							<li class="suc"><a href="/member/logout">Logout</a></li>
							<li class="bef"><a href="/member/login">Login</a></li>
							<li class="bef"><a href="/member/join">Join</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<footer th:fragment="footer">
			<div class="footer-bar">
				<div class="content">
					<div class="fcontents">
						<img class="footer-logo" src="/img/r-logo-v.png">
						<span class="footer-txt"> &copy; 반응형 웹기반 과정평가형 2024 </span>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>